@{
	ViewData["Title"] = "Cadastro";
}

@model Cadastro

<h3>Cadastro</h3>

<form asp-action="resumo" method="post">
    
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeCliente">Name</label>
                    <input type="text" class="form-control" id="nomeCliente" placeholder="Name"
                           asp-for="@Model.Nome">
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"
                           asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="telefone">Phone</label>
                    <input type="text" class="form-control" id="telefone" placeholder="Phone"
                           asp-for="@Model.Telefone">
                    <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="endereco">Address</label>
                    <input type="text" class="form-control" id="endereco" placeholder="Address"
                           asp-for="@Model.Endereco">
                    <span asp-validation-for="@Model.Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="complemento">Address Complement</label>
                    <input type="text" class="form-control" id="complemento" placeholder="Address Complement"
                           asp-for="@Model.Complemento">
                    <span asp-validation-for="@Model.Complemento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="bairro">Neighborhood</label>
                    <input type="text" class="form-control" id="bairro" placeholder="Neighborhood"
                           asp-for="@Model.Bairro">
                    <span asp-validation-for="@Model.Bairro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="municipio">City</label>
                    <input type="text" class="form-control" id="municipio" placeholder="City"
                           asp-for="@Model.Municipio">
                    <span asp-validation-for="@Model.Municipio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="UF">State</label>
                    <select class="form-control single-select" name="State"
                            asp-for="@Model.UF">
                        <option selected value="">[Select State]</option>
                        <option value="AC">Alpha Centauri</option>
                        <option value="AL">Alastria</option>
                        <option value="AO">Angel One</option>
                        <option value="AH">Archer 4</option>
                        <option value="BT">Betazed</option>
                        <option value="CD">Cardassia III</option>
                        <option value="DS">Dedestris</option>
                        <option value="DR">Draken 4	</option>
                        <option value="EK">Ekos</option>
                        <option value="FR">Ferenginar</option>
                        <option value="GA">Galvin 5</option>
                        <option value="HG">Holberg 917G</option>
                        <option value="ID">Indri 8</option>
                        <option value="JD">Jeraddo</option>
                        <option value="KT">Kotati</option>
                        <option value="LY">Lysia</option>
                        <option value="MN">Mislen</option>
                        <option value="MD">Mudd</option>
                        <option value="NM">No'Mat</option>
                        <option value="ON">Ornara</option>
                        <option value="PR">Praxis</option>
                        <option value="QP">Quatal Prime</option>
                        <option value="RN">Ronara</option>
                        <option value="SK">Sikaris</option>
                        <option value="TL">Tarella</option>
                        <option value="UN">Unefra III</option>
                        <option value="ZL">Zetar</option>
                    </select>
                    <span asp-validation-for="@Model.UF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cep">Zip Code</label>
                    <input type="text" class="form-control" id="cep" placeholder="Zip Code"
                           asp-for="@Model.CEP">
                    <span asp-validation-for="@Model.CEP" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <a class="btn btn-success" asp-action="carrossel">
                        Add More Products
                    </a>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-success">
                        Check Out
                    </button>
                </div>
            </div>
        </div>
    </div>


</form>