
@{
    ViewData["Title"] = "AP - Automation Place";
}

@model Pedido;
<h3>Order <font color="red">Summary</font></h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Order:<font color="red"> @(Model.Id)</font></h3>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h3>Your <font color="red">Information</font></h3>
                <div>@Model.Cadastro.Nome</div>
                <div>@Model.Cadastro.Telefone</div>
            </div>
            <div class="col-md-3">
                @Model.Cadastro.Email
            </div>
            <div class="col-md-6">
                <h3>Delivery  <font color="red">Address</font></h3>
                <div>@Model.Cadastro.Endereco @Model.Cadastro.Complemento - @Model.Cadastro.Bairro - Zip Code: @Model.Cadastro.ZipCode - @Model.Cadastro.Municipio - @Model.Cadastro.UF</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-10">
                <h3>Purchased <font color="red">Items</font></h3>
            </div>
            <div class="col-md-2">
                <h3>Quantity</h3>
            </div>
        </div>
        @foreach (var item in Model.Itens)
        {


            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@item.Quantidade</div>
                </div>
            </div>
        }
    </div>
</div>
