
@{
    ViewData["Title"] = "AP - Automation Place";
}

@model SimpleForm;

<h3>Simple Form</h3>

<form asp-action="resumo" method="post">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="nomeCliente">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name"
                           asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email"
                           asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="birth">Birth</label>

                    <input type="date" name="bdate" class="form-control" id="birth" asp-for="@Model.Birth" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="endereco">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City"
                           asp-for="@Model.City">
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="UF">State</label>
                    <select class="form-control single-select" name="State"
                            asp-for="@Model.State">
                        <option selected value="">[Select State]</option>
                        <option value="AC">Alpha Centauri</option>
                        <option value="AL">Alastria</option>
                        <option value="AO">Angel One</option>
                        <option value="AH">Archer 4</option>
                        <option value="BT">Betazed</option>
                        <option value="CD">Cardassia III</option>
                        <option value="DS">Dedestris</option>
                        <option value="DR">Draken 4	</option>
                        <option value="EK">Ekos</option>
                        <option value="FR">Ferenginar</option>
                        <option value="GA">Galvin 5</option>
                        <option value="HG">Holberg 917G</option>
                        <option value="ID">Indri 8</option>
                        <option value="JD">Jeraddo</option>
                        <option value="KT">Kotati</option>
                        <option value="LY">Lysia</option>
                        <option value="MN">Mislen</option>
                        <option value="MD">Mudd</option>
                        <option value="NM">No'Mat</option>
                        <option value="ON">Ornara</option>
                        <option value="PR">Praxis</option>
                        <option value="QP">Quatal Prime</option>
                        <option value="RN">Ronara</option>
                        <option value="SK">Sikaris</option>
                        <option value="TL">Tarella</option>
                        <option value="UN">Unefra III</option>
                        <option value="ZL">Zetar</option>
                    </select>
                    <span asp-validation-for="@Model.State" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label" for="UF">Favorite Color</label>
                    <select class="form-control single-select" name="Color"
                            asp-for="@Model.Color">
                        <option selected value="">[Select Color]</option>
                        <option value="BL">Black</option>
                        <option value="WH">White</option>
                        <option value="BL">Yellow</option>
                        <option value="OR">Orange</option>
                        <option value="GR">Green</option>
                        <option value="GY">Grey</option>
                        <option value="PK">Pink</option>
                        <option value="PP">Purple</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="municipio">Have Pets?</label><br>
                    <input type="checkbox" value="dog"> Dog<br>
                    <input type="checkbox" value="cat"> Cat<br>
                    <input id="bird" type="checkbox" value="bird"> Bird<br>
                    <input type="checkbox" value="other"> Other<br>



                </div>
                <div class="form-group">
                    <label class="control-label" for="UF">Are you happy?</label><br />
                    <input name="ask" type="radio" id="yes" value="Yes"> Yes <br />
                    <input name="ask" type="radio" value="no"> No <br />

                </div>


                <div class="form-group">

                    <button type="reset" class="btn btn-success">
                        Clear
                    </button>

                    <button type="submit"
                            class="btn btn-success" asp-action="SimpleFormResult">
                        Submit
                    </button>
                </div>
            </div>

        </div>
    </div>


</form>